// переменные 
$font-title: 'Roboto', sans-serif; // шрифт для заголовков
$font-text: 'Raleway',sans-serif; //шрифт для остального текста
$font-accent: 'Open Sans',sans-serif; 

$color-text: #898f8f;
$color-accent: #ffcc00;
